.App {
  text-align: center;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 120px 150px 1fr;
}

/* navbar things */

.NavBar {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-style: outset;
}

.NavBarList {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.NavBarTitle {
  text-align: center;
}

.Header {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ArticleView {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.ArticleCard {
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  /* grid-template-rows: 50px 100px; */
}

.Voter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.VoteButton {
  flex-basis: 10px;
}

.ArticleTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ArticleSeeAll {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
