.App {
  text-align: center;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100px 150px 1fr;
}

/* navbar things */

.NavBar {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border-style: outset;
}

.NavBarList {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.NavBarTitle {
  text-align: center;
}

/* article things */

.Header {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.ArticleView {
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.ArticleCard {
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70px 30px 50px;
  border-style: solid;
  margin: 10px 0px 10px 0px;
  border-color: crimson;
  padding: 2px;
}

/* Voter stuff */

.Voter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 2px 2px;
}

.VoteButton {
  flex-basis: 10px;
}

.VoterText {
  margin: 0;
  padding: 5px;
}

/* article stuff */

.ArticleVoter {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.ArticleSeeAll {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.ArticleList {
  margin: 0 0 0 0;
  padding: 0;
}

.ArticleTitle {
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

/* comment stuff */

.CommentInput {
  width: 100%;
  height: 100px;
}

.OneComment {
  grid-template-rows: auto, auto, auto;
  padding: 15px;
}

.CommentList {
  list-style: none;
  padding: 5px;
}

.DeleteButton {
  margin: 5px;
}

.CommentText {
  margin: 0;
  padding: 5px;
}
